<h1>Password Generator</h1>

<div>
  <label for="length">Enter length: <span id="length-output">{{ length }}</span></label>
  <br>
  <input type="range" id="length" name="length" min="4" max="60" step="1" [(ngModel)]="length"/>
</div>
<div>
  <label for="use-letters">Use letters:</label>
  <input type="checkbox" name="use-letters" id="use-letters" [(ngModel)]="useLetters" >
</div>
<div>
  <label for="use-numbers">Use numbers:</label>
  <input type="checkbox" name="use-numbers" id="use-numbers" [(ngModel)]="useNumbers">
</div>
<div>
  <label for="use-symbols">Use symbols:</label>
  <input type="checkbox" name="use-symbols" id="use-symbols" [(ngModel)]="useSymbols">
</div>
<div>
  <button (click)="generate()">Generate</button>
</div>
<div *ngIf="password">
  <label for="password">Your generated password:</label>
  <input type="text" id="password" [value]="password" readonly>
  <button (click)="copy()">Copy</button>
</div>

